*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    


}

body{
    background-image:url("../imgs/m1.jpg");
   
    background-repeat: no-repeat;
    background-size:cover;
    display: flexbox;
}
#menu a:hover{

    color:oldlace;
    cursor:pointer;
    transition-duration: 0.8s;
}
#menu{
    background-color: #182657;
    margin: auto;
    padding: 10px;
    max-width: 100%;
    text-align: center;
    display: flexbox;
    box-shadow: 2px 2px 2px black;
}#menu ul{
  
    max-width: 100%;
}#menu li{
    padding:20px;
    list-style: none;
}#menu a{
    max-width: 100%;
    padding: 15px;
    text-decoration:none;
    color:#80c4f9;
    font-family:Franklin;
    font-size: 14px;
}#menu label{

    color:#F2EAED;
    font-family: 'Arial Narrow Bold';
    font-size: 30px;
}#celo{

    margin: 0;
    
}#celo img{
max-width: 100%;
position: absolute;
margin-top: 2%;
margin-left: 42%;
    width: 250px;
    border-radius: 200px;
    animation: alterando 6s infinite;
}#acesso {
    position: relative;
    max-width: 100%;
   text-align: center;
   margin-top: 6%;
   margin-left: 30%;
 background-position: center;
   background-color: #182657;
   box-shadow: 3px 3px 3px black;
   border-radius: 10px;

   width: 600px;
 height:500px;
   
    }@keyframes alterando{
            0%{
                transform:translateY(0)
            }50%{
                transform: translateY(-28px);
            }
        }#acesso img{

        width: 100px;
            border-radius: 100px;
            box-shadow: 1px 2px 2px black;
        }[type="Date"],select,[type="password"]{

            border:none;
            width: 150px;
            height: 30px;
            border-radius: 10px;
            text-align: center;
            background-color: #121F40;
            box-shadow: 2px 1px 2px black;
            color:#F2EAED;
            font-family:Cambria ;
        }select{

            width: 120px;
        }
       
        #acesso{

            color:#F2EAED;
            font-family: Cambria;
        }[type="text"]{
          border:none;
          width: 250px;
          height: 30px;
          border-radius: 10px;
          text-align: center;
          background-color: #121F40;
          box-shadow: 2px 1px 2px black;
          color:#F2EAED;
          font-family:Cambria ;
        }[type="submit"]{
            border:none;
            padding: 10px;
            width: 100px;
            border-radius: 20px;
            text-align: center;
          
            background-color:#00A585;
            box-shadow: 2px 2px 2px black;
            color:#F2EAED;
            font-family:Cambria ;
            cursor:pointer;
        }[type="reset"]{
            border:none;
            padding: 10px;
            width: 100px;
            border-radius: 20px;
            text-align: center;
            background-color:#F05837;
            box-shadow: 2px 2px 2px black;
            color:#F2EAED;
            font-family:Cambria ;
            cursor:pointer;
            }[type="submit"]:hover{
                transition-duration: 0.7s;
                background-color: #27AE60;
            }[type="reset"]:hover{
                transition-duration: 0.7s;
                background-color: #D70024;
            }input:focus{

                background-color: #121F40;
            }
#acesso a{
    text-align: center;
    text-decoration: none;
    color:#F2EAED;
}